.portfolio-style-1{
	padding: 100px 0;
	.entry-title {
		font-size: 25px;
	}
	.post-img{
		padding-left: 0;
		.img-post{
			margin: 0;
            img{
                height: 210px;
                object-fit: cover;
            }
		}
	}
	.post-details{
		padding-right: 0;
		position: relative;
		height: 100%; 
        .post-detail{
            margin-bottom: 5px;
            padding: 0;
            font-size: 12px;
            list-style: outside none none;
			a{
				color:var(--color-main);
				text-transform: uppercase; 
			}
        }
		

	}
	.post-detail.post-bot{
		position:absolute;
		bottom: 0;
        margin-bottom: 0;
		span a{
            color: #010101;
            font-size: 12px;
            padding: 5px 12px;
            border-radius: 4px;
            background-color: #f1f2fa;
            text-transform: initial;
        }
		&>li{
			margin-bottom: 0;
		}
	}
	.post-detail > li{
		border-radius: 2em;
		color: #333;
		transition: all .3s;
		box-shadow: 0 0 0 rgba(0 ,0 ,0 , 0.25);
		line-height: 1.25em;
		margin-inline-end: 0.5em;
		display: inline-flex;
		align-items: center;
    	justify-content: center;
		i{
			color:initial;
		}
		a{
			color: #333;

		}
	}
	.border-post {
		border-bottom: 1px dashed #cecece;
	}

	.pagination > li:last-child > a, .pagination > li:last-child > span {
		border-radius: 7px;
	}
}